<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body {
        height: 100vh;
        margin: 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<body>

    <form action="" method="post">
        {%csrf_token%}
        <h1>hey, do you wanna delete this post {{post.title}}</h1>
        <button type="submit">Delete</button>
    </form>

</body>

</html>